/* App.css */
.MuiContainer-root {
  height: 75vh;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card__container{
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

